<h1><%= @team.name %></h1>
<p>
  <b>Telefono:</b>
  <%= @team.phone %>
</p>
<p>
  <b>Pais:</b>
  <%= @team.country %>
</p>
<p>
  <b>Fundado en:</b>
  <%= @team.founded_at.strftime('%b %-d, %Y, %l:%M %P') %>
</p>
<p>
  <b>Direccion:</b>
  <%= @team.address %>
</p>
<p>
  <b><em><%= division_description %></em></b>
</p>
<p>
  <h2>PLANTILLA DE JUGADORES</h2>
  <ul>
    <% @players.each do |player| %>
      <li>
        <%= player.jersey_number %>
        <%= player.name %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  <table>
    <tr>
      <td>
        <%= link_to "Estadistica", stadistics_team_path(@team) %>
      </td>
      <td>
        <%= link_to "Regresar", teams_path %>
      </td>
      <td>
        <%= link_to "ELIMINAR", @team, method: :delete, confirm: "Estas seguro?" %>
      </td>
    </tr>
  </table>
</p>

