<p>
  <%= builder.label :detail, "Partido" %>
  <%= builder.text_field :detail %>
</p>
<p>
  <%= builder.label :goals, "Goles" %>
  <%= builder.text_field :goals %>
</p>
<p>
  <%= builder.label :assists, "Asistencias" %>
  <%= builder.text_field :assists %>
</p>
<p>
  <%= builder.label :distance, "Distancia" %>
  <%= builder.text_field :distance %>
</p>
<p>
  <%= builder.submit %>
</p>
