<tr>
  <td><%= performance.detail %></td>
  <td><%= performance.goals %></td>
  <td><%= performance.assists %></td>
  <td><%= performance.minutes %></td>
  <td><%= performance.distance %></td>
  <td><%= performance.initial_text %></td>
  <td><%= performance.yellows %></td>
  <td><%= performance.red_text %></td>
  <td><%= link_to "Delete", [performance.player, performance], method: :delete, confirm: "Are You Sure?" %></td>
</tr>

